<%- include('./partials/header') %>

    <h1 class="ongoing ">Admin Panel</h1>
    <br>
    <section class="events fix1 ">
        <div class="myprofile admin-fix">
            <a href="/createevent" class="button ">Create event </a>
        </div>
        <br>
        <div class="myprofile admin-fix">
            <a href="/editevent" class="button ">Edit event </a>
        </div>
        <br>
        <div class="myprofile admin-fix">
            <a href="/deleteevent" class="button ">Delete event </a>
        </div>
        <br>
        <div class="myprofile admin-fix">
            <a href="/deleteinterest" class="button ">Delete interest </a>
        </div>

    </section>
    <footer>

    </footer>
</body>

</html>