<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/verify.css">
    <title>Verify</title>
</head>
<body>
    <section class="logo">
        <img src="img/logo.png" alt="logo">
    </section>
    <br>
    <div>
        <h2 class="signin">Email Verification</h2></br>
        <span >Please check your email address to complete the Verification process.</span><br><br>
        Entered wrong email Address? <a href="signup" class="here">Click here</a>
        <br><br>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <span class="contact_text">Contact Us:</span>
        <br><br>*******@iitk.ac.in
    </footer>
</body>
</html>